
footer {
    background-color: #b1f3f7;
    padding: 20px;
}

h2 {
    color: #1f87f0;
}

.highlight-section {
    background-color: #eef2f5;
    padding: 20px;
    margin: 30px 0; 

}

.reviews-section {
   border-left: 5px solid #2c3e50;
    padding-left: 15px; }

    